*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-color: #2f4f4f;
  --primary-text-color: #c3d3e3;
  --highlight-text-color: #ffdd00;
  --accent-color: #ad2340;
  --shadow-color: #060423;
  --card-foreground: var(--accent-color);
  --card-background: var(--primary-text-color);
}

body {
  min-block-size: 100vh;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--primary-bg-color);
}

.header {
  padding: 1rem;
}
.header p {
  color: var(--highlight-text-color);
  font-size: 2rem;
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 16;
  line-height: 1.6;
  text-shadow: 0 0 5px #000;
}
.header h1 {
  cursor: pointer;
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
  line-height: 1.2;
  letter-spacing: 5px;
}
a {
  text-decoration: none;
}

.header .white-title {
  color: var(--primary-text-color);
  text-shadow: 5px -2px 0 var(--accent-color), -5px 10px 5px var(--shadow-color);
}
.header .red-title {
  color: var(--accent-color);
  text-shadow: 5px 0px 0 var(--primary-text-color),
    -5px 10px 5px var(--shadow-color);
}

.main {
  margin: 0 auto;
  min-height: 70%;
  max-width: 100%;
  position: relative;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 3rem;
  padding: 1rem;
}

.card {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-foreground);
  border-radius: 8px;
  font-size: 5rem;
  color: var(--primary-text-color);
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.4s;
  position: relative;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-10px);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 0 0 var(--shadow-color);
}

.card-back {
  transform: rotateY(180deg);
  background-color: var(--card-background);
}

.card.open {
  transform: rotateY(180deg);
}

.card.keepItOpen {
  transform: rotateY(180deg);
}

.card.disable {
  cursor: not-allowed;
}

/* loader */
.loader {
  width: fit-content;
  font-size: 40px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #c3d3e3;
  --g: conic-gradient(#c3d3e3 0 0) no-repeat text;
  background: var(--g) 0, var(--g) 1ch, var(--g) 2ch, var(--g) 3ch, var(--g) 4ch,
    var(--g) 5ch, var(--g) 6ch;
  background-position-y: 100%, 0;
  animation: l16 2s linear infinite alternate;
}
.loader:before {
  content: "Loading";
}
@keyframes l16 {
  0% {
    background-size: 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  14% {
    background-size: 1ch 100%, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  28% {
    background-size: 1ch 100%, 1ch 100%, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  42% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  57% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 0, 1ch 0, 1ch 0;
  }
  71% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 0,
      1ch 0;
  }
  85% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%,
      1ch 0;
  }
  100% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%,
      1ch 100%;
  }
}

/* start button */
.start {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.restart-button {
  width: 800px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  backdrop-filter: blur(2px);
  border-radius: 10px;
}
.start-btn {
  margin: 5rem auto;
  width: 20rem;
  height: 70px;
  font-family: "Agu Display", serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #c3d3e3;
  padding: 0.25em 0.75em;
  background-color: #ad2340;
  border: 3px solid #000;
  box-shadow: 1px 1px 0px 0px #000, 2px 2px 0px 0px #000, 3px 3px 0px 0px #000,
    4px 4px 0px 0px #000, 5px 5px 0px 0px #000;
}

.start-btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.hint {
  color: burlywood;
  font-size: 1.6rem;
  text-shadow: 0 0 5px #000;
}

/* Make it responsive */
@media (max-width: 768px) {
  .header p {
    font-size: 1.6rem;
  }
  .header h1 {
    font-size: 5rem;
  }

  .game-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .card {
    width: 120px;
    height: 120px;
    font-size: 3rem;
  }
  .card-front,
  .card-back {
    font-size: 3rem;
  }
}

@media (max-width: 565px) {
  body {
    gap: 2rem;
  }
  .header h1 {
    font-size: 4rem;
  }

  .game-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 100px;
    height: 100px;
    font-size: 3rem;
  }
}
